<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.4/wing.min.css" />
    <link rel="stylesheet" href='/static/main.css' />
</head>


<body>
    <div class="centered text-center">
        <h1>StopStalk</h1>
        <h6>solve counts</h6>
    <main>
        {% for i,j,k,l in oj_count_username_url %}
        <div class="badge" data-color="dark">
            <div class="badge-icon" style="background-image: url('/static/{{i}}.png')">
                <span class="lock"></span>
            </div>
            <div class="badge-text">
                <div><a href="{{ l }}" id="username">{{ k }}</a></div>
                <span>{{ j }}</span>
            </div>
        </div>
        {% endfor %}
    </main>
    </div>
</body>

</html>